<div class="container">
    <div class="row">
        <h2 class="px-2 mx-auto">
            <p>ようこそ、Caffeine_Dependenceへ<br>
            当サイトは、コーヒー豆の意見交換を行う交流サイトです。<br>
            貴方のお気に入りをオススメしたい時や<br>
            新しいコーヒーに出会いたい時に<br>
            ぜひご活用ください。
            </p>
        </h2>
    </div>
</div>