<footer>
  <div class='container'>
    <div class='row'>
      <div class='col-md-10 offset-md-1'>
        <%= link_to "お問い合わせ", new_contact_path, class: "btn btn-md btn-info rounder" %>
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>